
<nav id="toolbar" class="navbar sticky-top navbar-expand-lg bg-body-tertiary px-2">
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb m-0">
				{% block breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{{ 'Dashboard'|trans({},'core') }}</a></li>
					{% if breadcrumbs is defined %}
						{% for crumb in breadcrumbs %}
							<li class="breadcrumb-item"><a href="{{ crumb.link }}">{{ crumb.title }}</a></li>
						{% endfor %}
					{% endif %}
				{% endblock %}
			</ol>
		</nav>

		<div class="d-flex align-items-center">
			{% if app.user.email is defined %}
			<span class="px-3">
				{{ 'Welcome'|trans({},'core') }}: {{ app.user.email }}
			</span>
			{% endif %}
			<div class="vr"></div>
			<div {{ react_component('ThemeController') }}></div>
		</div>
	</div>
</nav>
