{% extends 'admin/index.html.twig' %}

{% block title %}{{ title ?? header ?? 'API Tokens'|trans }}{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="card my-3">
		<div class="card-header d-flex justify-content-between align-items-center">
			<div class="d-flex align-items-center gap-2"><i class="bi bi-shield-lock lead"></i> {{ 'API Tokens'|trans }}</div>
			<a class="btn btn-primary btn-subtle" href="{{ path('syncengine_account_tokens_create') }}">{{ 'Create new'|trans }}</a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-hover align-middle">
					<tr>
						<th>{{ 'Description'|trans }}</th>
						<th>{{ 'Token'|trans }}</th>
						<th>{{ 'Expires'|trans }}</th>
						<th class="text-end">{{ 'Actions'|trans }}</th>
					</tr>
					{% if tokens is not empty %}
						{% for token in tokens %}
							{% if token.token %}
								<tr>
									<td>{{ token.description }}</td>
									<td><code class="user-select-all">{{ token.token }}</code></td>
									<td>{{ token.expires|date }}</td>
									<td class="text-end">
										<a class="btn btn-primary btn-subtle" href="{{ path('syncengine_account_tokens_edit', { id: token.id }) }}">
											<i class="bi-pencil-fill"></i>
										</a>
										<a class="btn btn-danger btn-subtle"
										   href="{{ path('syncengine_account_tokens_delete', { id: token.id } ) }}">
											<i class="bi bi-trash-fill"></i>
										</a>
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="4" class="text-center">{{ 'No API tokens created'|trans }}</td>
						</tr>
					{% endif %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}
