{% extends 'index.html.twig' %}

{% set header = 'Reset your password'|trans %}

{% block content %}
	{{ parent() }}

	{{ form_start(resetForm) }}
	{{ form_row(resetForm.plainPassword) }}
	<button class="btn btn-primary">Reset password</button>
	{{ form_end(resetForm) }}

	<hr>
	<small><a href="{{ url( 'admin_login') }}">&laquo; {{ 'Back to login'|trans }}</a></small>
{% endblock %}
