{% extends 'base.html.twig' %}

{% block title %}Kerall Connect{% endblock %}

{% block body %}

	<a href="{{ path('new_connection') }}">New connection</a> <br>
	<a href="{{ path('new_flow') }}">New flow</a> <br>
	<a href="{{ path('new_automation') }}">New automation</a> <br> <br>


	{% if connections %}
		<h2>Connections</h2>
		<table>

			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
			{% for connection in connections %}
				<tr>
					<td>{{ connection.name }}</td>
					<td>{{ connection.description }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	{% if automations %}
		<h2>Automations</h2>
		<table>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Source &raquo; Target</th>
				<th>URL</th>
				<th>Flow</th>
			</tr>
			{% for automation in automations %}
				<tr>
					<td>{{ automation.name }}</td>
					<td>{{ automation.description }}</td>
					<td>{{ automation.sourceConnection.name }} &raquo; {{ automation.targetConnection.name }}</td>
					<td>{{ app.request.getSchemeAndHttpHost() }}{{ path('api', {endpoint:automation.endpoint}) }}</td>
					<td>{{ automation.flow.name }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}


	{% if flows %}
		<h2>Flows</h2>
		<table>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Automation</th>
				<th>Steps</th>
			</tr>
			{% for flow in flows %}
				<tr>
					<td>{{ flow.name }}</td>
					<td>{{ flow.description }}</td>
					<td>
						{% for automation in flow %}
							{{ automations.name }},
						{% endfor %}
					</td>
					<td><a href="{{ path('view_steporder', {id:flow.id}) }}">View</a></td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}


{% endblock %}
