{% extends 'base.html.twig' %}

{% block title %}Kerall Connect{% endblock %}

{% block body %}

	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group me-2" role="group">
			<a class="btn btn-connection" href="{{ path('create_connection') }}">New connection</a>
			<a class="btn btn-automation" href="{{ path('create_automation') }}">New automation</a>
			<a class="btn btn-flow" href="{{ path('create_flow') }}">New flow</a>
			<a class="btn btn-step" href="{{ path('create_step') }}">New step</a>
			<a class="btn btn-dataset" href="{{ path('create_dataset') }}">New dataset</a>
		</div>
		<div class="btn-group" role="group">
			<a class="btn btn-primary" href="{{ path('modules') }}">Modules</a>
		</div>
	</div>

	{% if connections %}
		<div class="card my-3">
			<div class="card-header bg-connection-subtle d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center gap-2"><i class="bi bi-cloud lead"></i> Connections</div>
				<a class="btn btn-connection" href="{{ path('create_connection') }}">Create new</a></div>
			<div class="card-body table-responsive">
				<table class="table table-hover align-middle">
					<tr>
						<th class="text-start table-cell-shrink">#</th>
						<th>Name</th>
						<th>Description</th>
						<th>Config</th>
						<th class="text-end">Actions</th>
					</tr>
					{% for connection in connections %}
						<tr>
							<td>{{ connection.id }}</td>
							<td>{{ connection.name }}</td>
							<td>{{ connection.description }}</td>
							<td>
								<div class="list-group">
								{% if connection.config.webservice is defined %}
									<li class="list-group-item d-flex justify-content-between align-items-center gap-2">
									{{ connection.config.webservice.host ?? '--' }} <span class="badge text-bg-webservice rounded-pill">Webservice: {{ connection.config.webservice._class ?? '' }}</span>
									</li>
								{% endif %}
								</div>
							</td>
							<td class="text-end">
								<a class="btn btn-connection" href="{{ path('edit_connection', {id:connection.id}) }}"><i class="bi-pencil-fill"></i></a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}

	{% if automations %}
		<div class="card my-3">
			<div class="card-header bg-automation-subtle d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center gap-2"><i class="bi bi-diagram-3 lead"></i> Automations</div>
				<a class="btn btn-automation" href="{{ path('create_automation') }}">Create new</a>
			</div>
			<div class="card-body table-responsive">
				<table class="table table-hover align-middle">
					<tr>
						<th class="text-start table-cell-shrink">#</th>
						<th>Name / Description</th>
						<th>URL</th>
						<th>Flow</th>
						<th class="text-end table-cell-shrink">Actions</th>
					</tr>
					{% for automation in automations %}
						<tr>
							<td>{{ automation.id }}</td>
							<td>{{ automation.name }}<br><small>{{ automation.description }}</small></td>
							<td>
								<a class="icon-link" href="{{ app.request.getSchemeAndHttpHost() }}{{ path('api_endpoint_profiler', {endpoint:automation.endpoint}) }}" target="_blank">
									<i class="bi bi-link-45deg"></i>
								</a>
								{{ app.request.getSchemeAndHttpHost() }}{{ path('api_endpoint', {endpoint:automation.endpoint}) }}
							</td>
							<td>
								<div class="list-group">
								{% if automation.flow %}
									<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2" href="{{ path('edit_flow', {id:automation.flow.id}) }}">
										{{ automation.flow.name }}
										<span class="badge text-bg-flow rounded-pill">Flow #{{ automation.flow.id }}</span>
									</a>
								{% endif %}
								</div>
							</td>
							<td class="text-end">
								<a class="btn btn-automation" href="{{ path('edit_automation', {id:automation.id}) }}"><i class="bi-pencil-fill"></i></a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}


	{% if flows %}
		<div class="card my-3">
			<div class="card-header bg-flow-subtle d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center gap-2"><i class="bi bi-command lead"></i> Flows</div>
				<a class="btn btn-flow" href="{{ path('create_flow') }}">Create new</a></div>
			<div class="card-body table-responsive">
				<table class="table table-hover align-middle">
					<tr>
						<th class="text-start table-cell-shrink">#</th>
						<th>Name / Description</th>
						<th>Used in</th>
						<th>Steps</th>
						<th class="text-end table-cell-shrink">Actions</th>
					</tr>
					{% for flow in flows %}
						<tr>
							<td>{{ flow.id }}</td>
							<td>{{ flow.name }}<br><small>{{ flow.description }}</small></td>
							<td>
								<div class="list-group">
								{% for automation in flow.automations %}
									<a href="{{ path('edit_automation', {id:automation.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2">
										{{ automation.name }}
										<span class="badge text-bg-automation rounded-pill">Automation #{{ automation.id }}</span>
									</a>
								{% endfor %}
								{% if steps %}
									{% for _step in steps %}
										{% if _step.config.tasks is defined %}
											{% for task in _step.config.tasks %}
												{% if ( task.flow is defined and step.id in task.flow ) or ( task.flows is defined and step.id in task.flows ) %}
													<a href="{{ path('edit_step', {id:_step.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2">
														{{ _step.name }}
														<span class="badge text-bg-step rounded-pill">Step #{{ _step.id }}</span>
													</a>
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
								{% endif %}
								</div>
							</td>
							<td>
								{% if flow.steps %}
								<div class="list-group">
									{% for index, step in flow.steps %}
										{% for _step in steps %}
											{% if step == _step.id %}
												<a href="{{ path('edit_step', {id:_step.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2">
													{{ index +1 }}: {{ _step.name }} <span class="badge text-bg-step rounded-pill">Step #{{ _step.id }}</span>
												</a>
											{% endif %}
										{% endfor %}
									{% endfor %}
								</div>
								{% endif %}
							</td>
							<td class="text-end">
								<a class="btn btn-flow" href="{{ path('edit_flow', {id:flow.id}) }}"><i class="bi-pencil-fill"></i></a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}


	{% if steps %}
		<div class="card my-3">
			<div class="card-header bg-step-subtle d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center gap-2"><i class="bi bi-collection lead"></i> Steps</div>
				<a class="btn btn-step" href="{{ path('create_step') }}">Create new</a>
			</div>
			<div class="card-body table-responsive">
				<table class="table table-hover align-middle">
					<tr>
						<th class="text-start table-cell-shrink">#</th>
						<th>Name / Description</th>
						<th>Used in</th>
						<th>Config</th>
						<th class="text-end table-cell-shrink">Actions</th>
					</tr>
					{% for step in steps %}
						<tr>
							<td>{{ step.id }}</td>
							<td>{{ step.name }}<br><small>{{ step.description }}</small></td>
							<td>
								<div class="list-group">
								{% if flows %}
									{% for flow in flows %}
										{% if step.id in flow.steps %}
											<a href="{{ path('edit_flow', {id:flow.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2">
												{{ flow.name }}
												<span class="badge text-bg-flow rounded-pill">Flow #{{ flow.id }}</span>
											</a>
										{% endif %}
									{% endfor %}
								{% endif %}
								{% for _step in steps %}
									{% if _step.config.tasks is defined %}
										{% for task in _step.config.tasks %}
											{% if ( task.step is defined and step.id in task.step ) or ( task.steps is defined and step.id in task.steps ) %}
												<a href="{{ path('edit_step', {id:_step.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2">
													{{ _step.name }}
													<span class="badge text-bg-step rounded-pill">Step #{{ _step.id }}</span>
												</a>
											{% endif %}
										{% endfor %}
									{% endif %}
								{% endfor %}
								</div>
							</td>
							<td>
								{% if step.config.tasks is defined %}
								<ul class="list-group">
									{% for task in step.config.tasks %}
										<li class="list-group-item d-flex justify-content-between align-items-center gap-2">
											{{ task._label ?? '<span class="text-body-secondary">--</span>' }}
											<span class="badge text-bg-task rounded-pill">Task: {{ task._class ?? '' }}</span>
										</li>
									{% endfor %}
								</ul>
								{% endif %}
							</td>
							<td class="text-end">
								<a class="btn btn-step" href="{{ path('edit_step', {id:step.id}) }}"><i class="bi-pencil-fill"></i></a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}


	{% if datasets %}
		<div class="card my-3">
			<div class="card-header bg-dataset-subtle d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center gap-2"><i class="bi bi-database lead"></i>Datasets</div>
				<a class="btn btn-dataset" href="{{ path('create_dataset') }}">Create new</a></div>
			<div class="card-body table-responsive">
				<table class="table table-hover align-middle">
					<tr>
						<th class="text-start table-cell-shrink">#</th>
						<th>Name / Description</th>
						<th>Used in</th>
						<th>Data</th>
						<th class="text-end table-cell-shrink">Actions</th>
					</tr>
					{% for dataset in datasets %}
						<tr>
							<td>{{ dataset.id }}</td>
							<td>{{ dataset.name }} <span class="badge text-bg-dataset rounded-pill">{{ dataset.type }}</span><br><small>{{ dataset.description }}</small></td>
							<td>
								<div class="list-group">
									TODO
								</div>
							</td>
							<td>
								<ul class="list-group list-group-horizontal">
								{% if dataset.config.columns is defined %}
								{% for column in dataset.config.columns %}
									<li class="list-group-item">{{ column.name }}</li>
								{% endfor %}
								{% endif %}
								</ul>
							</td>
							<td class="text-end">
								<a class="btn btn-dataset" href="{{ path('edit_dataset', {id:dataset.id}) }}"><i class="bi-pencil-fill"></i></a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}


{% endblock %}
