{% extends 'admin/index.html.twig' %}

{% block title %}{{ 'Edit flow'|trans({},'core') }} {{ flow.name }}{% endblock %}

{% block content %}
	<h1>{{ 'Edit flow'|trans({},'core') }} {{ flow.name }}</h1>
	{{ form(form) }}
{% endblock %}
