{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit flow'|trans({},'core') }} {{ flow.name }}{% endblock %}

{% block body %}
	<h1>{{ 'Edit flow'|trans({},'core') }} {{ flow.name }}</h1>
	{{ form(form) }}
{% endblock %}
