{% extends 'base.html.twig' %}

{% block title %}Edit Flow: {{ flow.name }}{% endblock %}

{% block body %}
	<h1>Flow: {{ flow.name }} <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#edit_flow_{{ flow.id }}" aria-expanded="false" aria-controls="edit_flow_{{ flow.id }}">Edit</button></h1>

	<div class="collapse" id="edit_flow_{{ flow.id }}">
		<div class="card">
			<div class="card-header">Edit Flow</div>
			<div class="card-body">
				{{ form(form) }}
			</div>
		</div>
	</div>

	{% if steps %}
		<div class="card my-3">
			<div class="card-header">Step order</div>
			<div class="card-body">
				<table class="table">
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Description</th>
						<th>config</th>
					</tr>
					{% for step in steps %}
						<tr>
							<td>{{ step.id }}</td>
							<td>{{ step.name }}</td>
							<td>{{ step.description }}</td>
							<td>{{ step.config|json_encode() }}</td>
						</tr>
					{% endfor %}
				</table>
				{{ form(formSortSteps) }}
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col">
			<div class="card my-3">
				<div class="card-header">Add existing step</div>
				<div class="card-body">
					{{ form(formAddStep) }}
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card my-3">
				<div class="card-header">Create new step</div>
				<div class="card-body">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newStepModal">
						Create new step
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="newStepModal" tabindex="-1" aria-labelledby="newStepModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="newStepModalLabel">Create new step</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ form(formCreateStep) }}
				</div>
			</div>
		</div>
	</div>


{% endblock %}
