{% extends 'base.html.twig' %}

{% block title %}View {{ flow.name }} step order{% endblock %}

{% block body %}
	{% if steps %}
		<div class="card my-3">
			<div class="card-header">{{ flow.name }} step order</div>
			<div class="card-body">
				<table class="table">
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Description</th>
						<th>config</th>
					</tr>
					{% for step in steps %}
						<tr>
							<td>{{ step.id }}</td>
							<td>{{ step.name }}</td>
							<td>{{ step.description }}</td>
							<td>{{ step.config|json_encode() }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col">
			<div class="card my-3">
				<div class="card-header">Add existing step</div>
				<div class="card-body">
					{{ form(formAdd) }}
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card my-3">
				<div class="card-header">Create new step</div>
				<div class="card-body">
					{{ form(formCreate) }}
				</div>
			</div>
		</div>
	</div>


{% endblock %}
