{% extends 'base.html.twig' %}

{% block title %}{{ title ?? header ?? '' }}{% endblock %}

{% block body %}

    <div class="position-absolute top-0 end-0" {{ react_component('ThemeController') }}></div>

    <div class="d-flex justify-content-center p-5 pb-4">
        <a href="{{ url('app_index') }}">
            <img width="150" height="150" src="{{ asset( 'assets/icon-fill.png ' ) }}">
        </a>
    </div>

    <div id="content" class="container py-4" style="max-width: 600px;">

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% block content %}

            {% if backlink is defined and backlink %}
                {% if backlink is same as( true ) %}
                    {% set backlink = breadcrumbs|slice(0,-1)|last %}
                {% endif %}

                {% if backlink is iterable %}
                    {% set backlink_url = backlink.link ?? backlink.url ?? '#' %}
                    {% set backlink_text = backlink.title ?? backlink.text ?? 'Back'|trans %}
                {% else %}
                    {% set backlink_url = backlink ?? '#' %}
                    {% set backlink_text = 'Back'|trans %}
                {% endif %}

                <a href="{{ backlink_url }}"{% if backlink_url == '#' %} onclick="history.back()"{% endif %}>
                    <span class="bi bi-arrow-left-short"></span>
                    {{ backlink_text }}
                </a>
            {% endif %}

            {% if header is defined %}
                <h1 class="text-center">{{ header }}</h1>
                <hr>
            {% endif %}

            {% if cards is defined %}
                {% include 'admin/_partials/cards.html.twig' with { cards: cards } %}
            {% endif %}

            {% if form is defined %}
                {% include '_partials/form.html.twig' with { form: form } %}
            {% endif %}

        {% endblock %}

    </div>

{% endblock %}
