{% set headers = headers ?? false %}
{% set _headers = items|first|keys %}
<div class="table-responsive">
<table class="table {{ classes ?? '' }}">
	{% if headers %}
	<thead>
		<tr>
			{% for property_title in _headers %}
				<th class="{{ column_classes }}">{{ property_title }}</th>
			{% endfor %}
		</tr>
	</thead>
	{% endif %}
	<tbody>
	{% for item in items %}
		<tr>
			{% for field in _headers %}
				<td class="{{ column_classes }}">{{ attribute(item, field) }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>
