
<nav id="toolbar" class="navbar sticky-top navbar-expand-lg bg-body shadow-sm px-2">
	<div class="container-fluid">
		<nav class="p-2" aria-label="breadcrumb">
			<ol class="breadcrumb m-0">
				{% block breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{{ 'Dashboard'|trans }}</a></li>
					{% if breadcrumbs is defined %}
						{% for crumb in breadcrumbs %}
							<li class="breadcrumb-item">
								{% if crumb.current is defined and crumb.current %}
									<strong>{{ crumb.title }}</strong>
								{% else %}
									<a href="{{ crumb.link }}">{{ crumb.title }}</a>
								{% endif %}
							</li>
						{% endfor %}
					{% endif %}
				{% endblock %}
			</ol>
		</nav>

		<div class="d-flex align-items-center">
			{% if app.user.email is defined %}
			<span class="px-3">
				{{ 'Welcome'|trans }}: {{ app.user.email }}
			</span>
			{% endif %}
			<div class="vr"></div>
			<div {{ react_component('ThemeController') }}></div>
		</div>
	</div>
</nav>
