<nav id="toolbar" class="navbar sticky-top navbar-expand-lg bg-body shadow-sm pxpx-2">
	<div class="container-fluid justify-content-end justify-content-md-between">
		<nav class="p-2 d-none d-md-block" aria-label="breadcrumb">
			<ol class="breadcrumb m-0">
				{% block breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ path('syncengine_admin_index') }}">{{ 'Dashboard'|trans }}</a></li>
					{% if breadcrumbs is defined %}
						{% for crumb in breadcrumbs %}
							<li class="breadcrumb-item">
								{% if crumb.current is defined and crumb.current %}
									<strong>{{ crumb.title }}</strong>
								{% else %}
									<a href="{{ crumb.link }}">{{ crumb.title }}</a>
								{% endif %}
							</li>
						{% endfor %}
					{% endif %}
					<script>
						{% set breadcrumbs = breadcrumbs ?? [] %}
						(function(){
							window.SyncEngine.screen.breadcrumbs = {{ breadcrumbs|json_encode|raw }};
							window.SyncEngine.publish( 'breadcrumbs.update', window.SyncEngine.screen.breadcrumbs )
						})()
					</script>
				{% endblock %}
			</ol>
		</nav>

		<div class="d-flex align-items-center">
			{% if app.user.email is defined %}
				<div class="dropdown">
					<button data-bs-toggle="dropdown" class="d-flex align-items-center shadow-none border-0 dropdown-toggle btn" type="button" aria-expanded="false">
						<span role="img" class="icon bi bi-person-workspace"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" href="{{ url('syncengine_account_index') }}">
								<span role="img" class="icon bi bi-person-circle me-2"></span>{{ app.user.email }}
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ url('syncengine_admin_logout') }}">
								<span role="img" class="bi bi-power me-2"></span>Log out
							</a>
						</li>
					</ul>
				</div>
			{% endif %}
			<div {{ react_component('ThemeController') }}></div>
		</div>
	</div>
</nav>
