{% extends 'admin/index.html.twig' %}

{% block title %}{{ 'Modules'|trans }}{% endblock %}

{% block content %}
	<div class="card my-3">
		<div class="card-header d-flex justify-content-between align-items-center">
			<div class="d-flex align-items-center gap-2">{% include '_partials/icon.html.twig' with { icon: 'module', class: 'lead' } %} {{ 'Modules'|trans }}</div>
			<a class="btn btn-primary btn-subtle" href="{{ path('syncengine_module_upload') }}">{{ 'Upload'|trans }}</a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-hover align-middle">
					<tr>
						<th></th>
						<th>{{ 'Name'|trans }}</th>
						<th>{{ 'Description'|trans }}</th>
						<th>{{ 'Version'|trans }}</th>
						<th>{{ 'Author'|trans }}</th>
						<th class="text-end">{{ 'Actions'|trans }}</th>
					</tr>
					{% for module in modules %}
						{% if module.name %}
							{% set vendor = module.author ?: module._vendor %}
							<tr>
								<td class="col-icon">
									{% if module.icon %}
										{% include '_partials/icon.html.twig' with { icon: module.icon } %}
									{% endif %}
								</td>
								<td class="col-name">{{ module.name }}</td>
								<td class="col-description">{{ module.description }}</td>
								<td class="col-version">{{ module.version }}</td>
								<td class="col-vendor">{{ vendor }}</td>
								<td class="col-actions text-end">
									{% if module._has_admin %}
									<a class="btn btn-primary btn-subtle"
									   href="{{ path('syncengine_module', {moduleName:module._module, vendor:module._vendor}) }}"
									   title="{{ 'Manage'|trans }}"
									>
										{% include '_partials/icon.html.twig' with { icon: 'module' } %}
									</a>
									{% endif %}
									<a class="btn btn-warning btn-subtle"
									   href="{{ path('syncengine_module_install_run', {moduleName:module._module, vendor:module._vendor, previousVersion:0}) }}"
									   title="{{ 'Reinstall'|trans }}"
									>
										{% include '_partials/icon.html.twig' with { icon: 'reboot' } %}
									</a>
									<a class="btn btn-danger btn-subtle"
									   data-bs-toggle="modal"
									   data-bs-target="#module-uninstall-{{ module._package }}"
									   title="{{ 'Uninstall'|trans }}"
									>
										{% include '_partials/icon.html.twig' with { icon: 'delete' } %}
									</a>

									<div class="modal" id="module-uninstall-{{ module._package }}" tabindex="-1" data-bs-backdrop="false">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">{{ t('Are you sure?') }}</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													{{ 'This will uninstall module {moduleName} from {vendor}'|trans( { moduleName: module.name, vendor: vendor } ) }}
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ t('Cancel') }}</button>
													<button type="button" class="btn btn-danger" href="{{ path( 'syncengine_module_uninstall', { moduleName:module._module, vendor: module._vendor } ) }}">{{ t('Uninstall') }}</button>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}
