{% extends 'admin/index.html.twig' %}

{% block title %}{{ 'Upload'|trans }} {{ 'Module'|trans }}{% endblock %}

{% block content %}
	<h1>{{ 'Upload'|trans }} {{ 'Module'|trans }}</h1>
	{{ form(form) }}
{% endblock %}
