{% extends 'admin/index.html.twig' %}

{% block title %}{{ 'Upload'|trans({},'core') }} {{ 'Module'|trans({},'core') }}{% endblock %}

{% block content %}
	<h1>{{ 'Upload'|trans({},'core') }} {{ 'Module'|trans({},'core') }}</h1>
	{{ form(form) }}
{% endblock %}
