{% extends 'index.html.twig' %}
{% set maxContentWidth = 800 %}

{% block content %}

	{{ parent() }}

	{% set bootstrap = { primary: 'Primary', secondary: 'Secondary', success: 'Success', warning: 'Warning', danger: 'Danger', info: 'Info' } %}
	{% set syncengine = { syncengine: 'SyncEngine', webservice: 'Webservice', connection: 'Connection', automation: 'Automation', flow: 'Flow', step: 'Step', task: 'Task', storage: 'Storage' } %}
	{% set btnStyles = [ 'btn-', 'btn-outline-', 'btn-subtle btn-', 'btn-subtle btn-outline-' ] %}

	{% for style in btnStyles %}
		<div class="btn-toolbar justify-content-center mb-2" role="toolbar">
			<div role="group">
				{% for key, name in bootstrap %}
					<a class="btn {{ style }}{{ key }}">{{ name }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="btn-toolbar justify-content-center mb-2" role="toolbar">
			<div role="group">
				{% for key, name in syncengine %}
					<a class="btn {{ style }}{{ key }}">{{ name }}</a>
				{% endfor %}
			</div>
		</div>
		<hr>
	{% endfor %}

{% endblock %}
