{% extends 'base.html.twig' %}

{% block title %}View step order{% endblock %}

{% block body %}
	<h1>Step order</h1>

	{% if steps %}
		<table>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Description</th>
				<th>config</th>
			</tr>
			{% for step in steps %}
				<tr>
					<td>{{ step.position }}</td>
					<td>{{ step.step.name }}</td>
					<td>{{ step.step.description }}</td>
					<td>
						{% for config in step.step.config %}
						{{ config }} <br>
						{% endfor %}
					</td>
				</tr>


			{% endfor %}
		</table>
	{% endif %}









	{{ form_start(form) }}
	{{ form_row(form.name) }}
	{{ form_row(form.description) }}
	{{ form_row(form.config) }}
	<button type="submit" class="btn">Add</button>
	{{ form_end(form) }}
{% endblock %}
