{% extends 'admin/index.html.twig' %}

{% block title %}{{ 'Datasets'|trans({},'core') }}{% endblock %}

{% block content %}

	{% if steps %}
		<div class="card my-3">
			<div class="card-header bg-step-subtle d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center gap-2"><i class="bi bi-collection lead"></i> {{ 'Steps'|trans({},'core') }}</div>
				<a class="btn btn-step" href="{{ path('create_step') }}">{{ 'Create new'|trans({},'core') }}</a>
			</div>
			<div class="card-body table-responsive">
				<table class="table table-hover align-middle">
					<tr>
						<th class="text-start table-cell-shrink">#</th>
						<th>{{ 'Name'|trans({},'core') }} / {{ 'Description'|trans({},'core') }}</th>
						<th>{{ 'Used in'|trans({},'core') }}</th>
						<th>{{ 'Config'|trans({},'core') }}</th>
						<th class="text-end table-cell-shrink">{{ 'Actions'|trans({},'core') }}</th>
					</tr>
					{% for step in steps %}
						<tr>
							<td>{{ step.id }}</td>
							<td>{{ step.name }}<br><small>{{ step.description }}</small></td>
							<td>
								<div class="list-group">
									{% if flows %}
										{% for flow in flows %}
											{% if step.id in flow.steps %}
												<a href="{{ path('edit_flow', {id:flow.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2">
													{{ flow.name }}
													<span class="badge text-bg-flow rounded-pill">{{ 'Flow'|trans({},'core') }} #{{ flow.id }}</span>
												</a>
											{% endif %}
										{% endfor %}
									{% endif %}
									{% for _step in steps %}
										{% if _step.config.tasks is defined %}
											{% for task in _step.config.tasks %}
												{% if ( task.step is defined and step.id in task.step ) or ( task.steps is defined and step.id in task.steps ) %}
													<a href="{{ path('edit_step', {id:_step.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-2">
														{{ _step.name }}
														<span class="badge text-bg-step rounded-pill">{{ 'Step'|trans({},'core') }} #{{ _step.id }}</span>
													</a>
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endfor %}
								</div>
							</td>
							<td>
								{% if step.config.tasks is defined %}
									<ul class="list-group">
										{% for task in step.config.tasks %}
											<li class="list-group-item d-flex justify-content-between align-items-center gap-2">
												{{ task._label ?? '<span class="text-body-secondary">--</span>' }}
												<span class="badge text-bg-task rounded-pill">{{ 'Task'|trans({},'core') }}: {{ task._class ?? '' }}</span>
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</td>
							<td class="text-end">
								<a class="btn btn-step" href="{{ path('edit_step', {id:step.id}) }}"><i class="bi-pencil-fill"></i></a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}

{% endblock %}
